@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface: 0 0% 95.8%;
    --background: 0 0% 97.6%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --tertiary: 240 5.9% 10%;
    --tertiary-foreground: 0 0% 98%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --surface: 240 8.3% 4.7%;
    --background: 225 12.5% 6.3%;
    --foreground: 219 18.92% 84.5%;
    --muted: 231.43 7.87% 17.45%;
    --muted-foreground: 220 13.03% 63.14%;
    --popover: 230 10.34% 11.37%;
    --popover-foreground: 219 0% 100%;
    --card: 230.73 10% 11.3%;
    --card-foreground: 41.34 100% 99.27%;
    --border: 220 5.38% 16.55%;
    --input: 235 10% 22%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 235 10.71% 21.96%;
    --secondary-foreground: 220 0% 100%;
    --tertiary: 0 0% 98%;
    --tertiary-foreground: 240 5.9% 10%;
    --accent: 235 15% 25%;
    --accent-foreground: 220 13% 93%;
    --destructive: 7.52 58.25% 47.64%;
    --destructive-foreground: 0 0% 100%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  code {
    @apply font-geist-mono;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6 text-lg;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  .lead {
    @apply text-xl text-muted-foreground;
  }

  .large {
    @apply text-lg font-semibold;
  }

  .small {
    @apply text-sm font-medium leading-none;
  }

  .muted {
    @apply text-sm text-muted-foreground;
  }
}

@layer utilities {
  .no-uppercase {
    text-transform: none;
  }
}

